@charset "UTF-8";
/* CSS Document */

body {
	width:700px;
	margin: 0 auto;
	font-family:Tahoma, Geneva, sans-serif;
}


#page-header {
	height:135px;
	text-align:center;
}

#page-header h1 {
	background-image: url(images/dogvscat-logo.gif);
	height: 95px;
	width: 445px;
	background-repeat: no-repeat;
	margin:0 auto;
	}
#page-header h1 span {
	position: absolute;
        left: -999em;
	}


#main-nav {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:20px;
	text-transform: uppercase;
	margin-top:10px;
	padding-top:3px;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000;
	border-bottom-color: #000;
	position:absolute;
	width:700px;
	text-align:center;
	height:24px;
}

#main-nav a{
	text-decoration:none;
	color:#000;
}


#main-nav li{
	display:inline;
	background-image: url(images/bullet.png);
	background-repeat: no-repeat;
	background-position:right center;
	padding:0 15px 0 2px;
}

.content-sect {
	width:300px;
	margin-top: 15px;
	margin-right: 25px;
	margin-bottom: 20px;
	margin-left: 25px;
}



#dog {
	float:left;
}

#cat {
	float:right;
}

.content-sect h1{
	font-size:20px;
	padding:10px 0;
	
}


#page-footer {
	clear:both;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #000;
	padding-top: 10px;
	padding-right: 25px;
	padding-bottom: 30px;
	padding-left: 25px;
	font-size:12px;
}
#page-footer a{
	text-decoration:none;
	
}

#page-footer #credit{
	float:left;
	
}
#page-footer #copyright {
	float:right;
	
}