/* Add Styles Here */

/* header styles */
#headertitle {
	height:60px;
}

#headertitle h1 {
	font-size:30px;
/*FOR CYKOD: is this the right way to move the font to the bottom of the box? */
	position:absolute;
	top:30px;
	
}

#headercontact {
	text-align:right;
}


/* navigation styles */
#topnav {
	background-color:#CCC;
}

#topnav li
{
	float: left;
	margin-top: 0;
	margin-right: 1em;
	margin-bottom: 0;
	margin-left: 0em;
}



/* right side bar styles */

#announcements {
	border: 1px solid #06C;
	padding: 5px;
	margin-top: 5px;
	margin-right: -1px;
	margin-bottom: 5px;
	margin-left: -1px;
}

#events {
	border: 1px solid #06C;
	padding: 5px;
	margin-top: 5px;
	margin-right: -1px;
	margin-bottom: 5px;
	margin-left: -1px;
}

#facebook {
	border: 1px solid #06C;
	padding: 5px;
	margin-top: 5px;
	margin-right: -1px;
	margin-bottom: 5px;
	margin-left: -1px;
}



/* misc */
#border {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000;
	border-bottom-color: #000;
}
